@media only screen and (max-width: 425px) {

  .g-m-left {
    margin-left: 20px;
  }

  .g-m-right {
    margin-right: 20px;
  }

  .hero-section {
    width: 90%;
  }

  .our-products-grid {
    --gridCol: 2;
    --gridRow: 1;
  }

  .footers-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .footer-links {
    align-items: center;
    text-align: center;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .explore {
    padding: 20px;
  }

  .product-discount .product-price {
    font-size: 14px;
  }

  .footers-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .newsletter-form {
    flex-direction: column;
  }

  .feature-banner {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-service {
    justify-content: start;
  }

  .explore-more-btn {
    padding: 5px 20px;
}

.explore{
  align-items: center;
}
explore-more-section {
  padding: 30px 0px;
  margin: 0;
}
.email-input {
  width: 150px;
}

.product-price{
  font-size: 18px;
}

.product-name{
  font-size: 18px;
}
.product-prices{
  flex-direction: column;
  align-items: start;
  gap: 2px;
}

}